body {
    background-color: lightblue;
    color: #000;
    width: 100%;
    text-align: center;
}

.calculator {
    background-color: #ddd;
    width: 375px;
    height: 405px;
    margin: 20px auto 20px auto;
    border: solid 1px #000;
    box-shadow: 10px 10px 5px #888888;
}

.result {
    margin: 10px;
    width: 355px;
    height: 75px;
    border: solid 1px #000;
    background-color: #ccc;
}

button {
    font-size: 50px;
    width: 75px;
    margin: 5px;
}

.result {
    text-align: left;
    font-size: 55px;
}
